# ------------------------
# Android
# ------------------------
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# ------------------------
# Node.js
# ------------------------
Backend/node_modules/
Backend/.env
Backend/npm-debug.log*

# ------------------------
# Python
# ------------------------
Agent/__pycache__/
Agent/.venv/
Agent/venv/
Agent/*.pyc

# VS Code
.vscode/

# Windows
Thumbs.db